html{
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    scroll-behavior: smooth;
}


body{
    font-family: 'Poppins';
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}